<div class="row">
	<div class="column">
		<div class="card">
			<div class="card_image">
				<img src="https://images.unsplash.com/photo-1562774053-701939374585?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29sbGVnZSUyMGNhbXB1c3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="Avatar" style="width:100%">
      </div>
				<div class="card_body">
					<div class="left_body">
						<span class="heading"> Hans raj college university</span>

						<span class="location">
              Near Vishwidhalay Metro station |2 Km from bus stand
            </span>
						<span style="color:blue">
              93% Match:
            </span>
						<span color="dist"><strong>2.5 </strong> from GTB nagar ,<strong>7.5 </strong> from GTB nagar</span>
						<div class='discount'>

							<span >Flat $2000 off + upto $500 off</span>
						</div>

					</div>



					<span class="price" style="float:right">$5648</span>


				</div>

			</div>
		</div>
		<div class="column">
			<div class="card">
				<img src="https://images.unsplash.com/photo-1562774053-701939374585?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29sbGVnZSUyMGNhbXB1c3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="Avatar" style="width:100%">
				<div class="container">
					<h4><b>John Doe</b></h4>
					<p>Architect & Engineer</p>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="card">
				<img src="https://images.unsplash.com/photo-1562774053-701939374585?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29sbGVnZSUyMGNhbXB1c3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="Avatar" style="width:100%">
				<div class="container">
					<h4><b>HansRaj College</b></h4>
					<p>Architect & Engineer</p>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="card">
				<img src="https://images.unsplash.com/photo-1562774053-701939374585?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29sbGVnZSUyMGNhbXB1c3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="Avatar" style="width:100%">
				<div class="container">
					<h4><b>John Doe</b></h4>
					<p>Architect & Engineer</p>
				</div>
			</div>
		</div>
	</div>