<div class="row">
	<div class="column" *ngFor="let college of colleges; let i = index">
		<div class="card">
			<div class="card_image">
				<img src="https://images.unsplash.com/photo-1562774053-701939374585?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29sbGVnZSUyMGNhbXB1c3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="Avatar" style="width:100%">
				<div class="overlay">
					<div>
						<button class="btn">Best College 2018</button>
						<button class="btn btn1">2Kms away	</button>
						<span style="position: absolute;bottom: 8px;right: 10px;color: white;font-size: 17px;">#7 in 20 colleges in north campus</span>
					</div>
				</div>


			</div>
			<div class="card_body">
				<div class="left_body">
					<span class="heading"> {{college.college_name}}</span>

					<span class="location">
              {{college.nearest_place[0]}} |  {{college.nearest_place[1]}} 
            </span>
					<span style="color:deepskyblue">
              93% Match:
            </span>
					<span color="dist">{{college.famous_nearest_places}}</span>
					<div class='discount'>

						<span >Flat Rs. <span style="color:deepskyblue"> 2000</span> off + upto Rs
						<span style="color:deepskyblue">500</span> off! to
						avail..Login</span>
					</div>

				</div>


				<div class="right_body">

					<span style="color:grey; text-decoration: line-through ;font-size: larger;"> Rs.{{college.discounted_fees}}  <span class="tag">{{college.discount}}%</span></span>
					<br>
					<span class="price">Rs.{{college.original_fees}}</span>
					<br>
					<span style="color:grey">Per semester(3 months)</span>
					<h4 style="color:deepskyblue">Free Cancellation + Free Wi-Fi</h4>
				</div>



			</div>

		</div>
		<div class="card" *ngIf="i + 1 < colleges.length">
			<div class="card">
				<div class="card_image">
					<img src="https://images.unsplash.com/photo-1562774053-701939374585?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29sbGVnZSUyMGNhbXB1c3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="Avatar" style="width:100%">
					<div class="overlay">
						<div>
							<button class="btn">Best College 2018</button>
							<button class="btn btn1">2Kms away	</button>
							<span style="position: absolute;bottom: 8px;right: 10px;color: white;font-size: 17px;">#7 in 20 colleges in north campus</span>
						</div>
					</div>


				</div>
				<div class="card_body">
					<div class="left_body">
						<span class="heading"> Hans raj college university</span>

						<span class="location">
              Near Vishwidhalay Metro station |2 Km from bus stand
            </span>
						<span style="color:deepskyblue">
              93% Match:
            </span>
						<span color="dist"><strong>2.5 </strong> from GTB nagar ,<strong>7.5 </strong> from GTB nagar</span>
						<div class='discount'>

							<span >Flat Rs. <span style="color:deepskyblue"> 2000</span> off + upto Rs
							<span style="color:deepskyblue">500</span> off! to
							avail..Login</span>
						</div>

					</div>


					<div class="right_body">

						<span style="color:grey; text-decoration: line-through ;font-size: larger;"> $5,648  <span class="tag">20</span></span>
						<br>
						<span class="price">$7,778</span>
						<br>
						<span style="color:grey">Per semester(3 months)</span>
						<h4 style="color:deepskyblue">Free Cancellation + Free Wi-Fi</h4>
					</div>



				</div>

			</div>
		</div>
	</div>
</div>
<!-- <div class="row">
	<div class="column">
		<div class="card">
			<div class="card_image">
				<img src="https://images.unsplash.com/photo-1562774053-701939374585?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29sbGVnZSUyMGNhbXB1c3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="Avatar" style="width:100%">
				<div class="overlay">
					<div>
						<button class="btn">Best College 2018</button>
						<button class="btn btn1">2Kms away	</button>
						<span style="position: absolute;bottom: 8px;right: 10px;color: white;font-size: 17px;">#7 in 20 colleges in north campus</span>
					</div>
				</div>


			</div>
			<div class="card_body">
				<div class="left_body">
					<span class="heading"> Hans raj college university</span>

					<span class="location">
              Near Vishwidhalay Metro station |2 Km from bus stand
            </span>
					<span style="color:deepskyblue">
              93% Match:
            </span>
					<span color="dist"><strong>2.5 </strong> from GTB nagar ,<strong>7.5 </strong> from GTB nagar</span>
					<div class='discount'>

						<span >Flat Rs. <span style="color:deepskyblue"> 2000</span> off + upto Rs
						<span style="color:deepskyblue">500</span> off! to
						avail..Login</span>
					</div>

				</div>


				<div class="right_body">

					<span style="color:grey; text-decoration: line-through ;font-size: larger;"> $5,648  <span class="tag">20</span></span>
					<br>
					<span class="price">$7,778</span>
					<br>
					<span style="color:grey">Per semester(3 months)</span>
					<h4 style="color:deepskyblue">Free Cancellation + Free Wi-Fi</h4>
				</div>



			</div>

		</div>
	</div>
	<div class="column">
		<div class="card">
			<div class="card">
				<div class="card_image">
					<img src="https://images.unsplash.com/photo-1562774053-701939374585?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29sbGVnZSUyMGNhbXB1c3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="Avatar" style="width:100%">
					<div class="overlay">
						<div>
							<button class="btn">Best College 2018</button>
							<button class="btn btn1">2Kms away	</button>
							<span style="position: absolute;bottom: 8px;right: 10px;color: white;font-size: 17px;">#7 in 20 colleges in north campus</span>
						</div>
					</div>


				</div>
				<div class="card_body" style="padding-left:10px">
					<div class="left_body">
						<span class="heading"> Hans raj college university</span>

						<span class="location">
              Near Vishwidhalay Metro station |2 Km from bus stand
            </span>
						<span style="color:deepskyblue">
              93% Match:
            </span>
						<span color="dist"><strong>2.5 </strong> from GTB nagar ,<strong>7.5 </strong> from GTB nagar</span>
						<div class='discount'>

							<span >Flat Rs. <span style="color:deepskyblue"> 2000</span> off + upto Rs
							<span style="color:deepskyblue">500</span> off! to
							avail..Login</span>
						</div>

					</div>


					<div class="right_body">

						<span style="color:grey; text-decoration: line-through ;font-size: larger;"> $5,648  <span class="tag">20</span></span>
						<br>
						<span class="price">$7,778</span>
						<br>
						<span style="color:grey">Per semester(3 months)</span>
						<h4 style="color:deepskyblue">Free Cancellation + Free Wi-Fi</h4>
					</div>



				</div>

			</div>
		</div>
		<div class="column">
			<div class="card">
				<img src="https://images.unsplash.com/photo-1562774053-701939374585?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29sbGVnZSUyMGNhbXB1c3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="Avatar" style="width:100%">
				<div class="container">
					<h4><b>HansRaj College</b></h4>
					<p>Architect & Engineer</p>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="card">
				<img src="https://images.unsplash.com/photo-1562774053-701939374585?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29sbGVnZSUyMGNhbXB1c3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="Avatar" style="width:100%">
				<div class="container">
					<h4><b>John Doe</b></h4>
					<p>Architect & Engineer</p>
				</div>
			</div>
		</div>
	</div> -->